
.successFailContainer {
    display: none;
    clear: both;
    margin-top: 10px;
    margin-bottom: 5px;
    border-radius: 24px;
    opacity: 0.9;
    width: 100%;
    padding: 15px 0px;
    position: fixed;
    bottom: 0px;
    background-color: #30843a;
    color: #fff;
    z-index: 9999;
    box-shadow: 0 -4px 5px 0 rgba(0, 0, 0, 0.14), 0 -1px 10px 0 rgba(0, 0, 0, 0.12), 0 -2px 4px 0px rgba(0, 0, 0, 0.3)
}

.successFailContainer h3 {
    text-align: center;
    font-size: 14px;
}
